<!DOCTYPE html>
<html>
<head>
  <title>GasRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <%= javascript_tag do %>
    Materialize.toast('<%= value %>', 3000, '<%= "toast-#{key}" %>');
  <% end %>
<% end %>

<%= render 'layouts/partials/navbar' %>

<div class="container fadeIn">
  <%= yield %>
</div>

</body>
</html>
